@media (min-width: 1280px) {
  .desktop {
    display: flex;
  }

  .inline {
    display: inline;
  }
  a:hover {
    opacity: .5;
  }

  nav {
    max-width: 1280px;
    margin: auto;
    box-sizing: border-box;
  }

  header {
    padding: 10px 50px;
    border-bottom: 1px lightgrey solid;
    box-sizing: border-box;
  }

  main {
    width: 1280px;
    margin: auto;
  }

  section {
    padding: 0 50px;
  }

  .header {
    align-items: flex-end;
    box-sizing: border-box;
  }

  .logo-sm {
    width: 20%;
    margin-bottom: 20px;
  }

  .logo-lg {
    width: 60%;
    object-fit: scale-down;
  }

  .logo-header {
    width: 50%;
    box-sizing: border-box;
  }

  .menu-link-top {
    margin: 0;
    padding-bottom: 0;
    border: none;
  }

  .menu-link-bottom {
    margin: 0;
    padding-top: 5px;
    border: none;
  }

  .menu {
    width: 50%;
    align-items: flex-end;
    font-family: 'Nexa';
    text-transform: uppercase;
    letter-spacing: 1px;
    box-sizing: border-box;
  }

  .menu-sm {
    width: 75%;
    justify-content: space-between;
    padding: 0 10px 10px 0;
    box-sizing: border-box;
  }

  .menu-bg {
    width: 100%;
    justify-content: space-between;
    border-top: 1px lightgrey solid;
    padding: 10px 10px 0 10px;
    box-sizing: border-box;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
  }

  .overlay {
    position: absolute;
    z-index: 3;
    top: 40%;
    padding: 50px;
    width: 45%;
    letter-spacing: 1.5px;
    font-size: 28px;
    line-height: 36px;
    bottom: auto;
  }

  .image-sm {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 0 10px 0 0;
  }

  .wrapper {
    width: 35%;
  }

  .more-link {
    font-weight: bold;
    padding: 0;
  }

  .vision-overlay {
    width: 80%;
    right: 0;
    left: auto;
    bottom: 30px;
  }

  .vision-overlay > p {
    font-size: 18px;
    line-height: 22px;
    padding: 0;
  }

  .solutions-overlay {
    top: auto;
    bottom: 40px;
  }


  .card {
    width: 30%;
  }

  .contact-section {
    width: 60%;
  }

  footer {
    padding: 50px;
  }

  .footer {
    width: 1280px;
    margin: auto;
  }

  .contact {
    justify-content: flex-start;
  }

  .section-width {
    width: 20%;
  }

  .social-media-icon {
    width: 30px;
    height: 30px;
  }

  .create-menu {
    width: 45%;
  }

  .create-button {
    width: 23%;
    margin-left: 10px;
  }


  .mobile {
    display: none;
  }
}
