body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica';
  overflow: hidden;
}

a {
  text-decoration: none;
  color: black;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid grey;
  padding: 10px;
}

.header {
  justify-content: space-between;
  align-items: center;
}

.logo-sm {
  width: 20%;
  object-fit: scale-down;
}

.menu-icon {
  margin: 0;
  font-size: 32px !important;
}

.arrow-icon {
  margin: 0;
  font-size: 32px !important;
}

.social-media-icon {
  margin: 5px 15px 0 0;
  width: 25px;
  height: 25px;
  object-fit: scale-down;
}

.menu-bkgd {
  width: 100%;
  height: 100%;
  position: fixed;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  top: 0;
  left: -100%;
  z-index: 2;
}

.slide-menu {
  width: 65%;
  position: fixed;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  z-index: 4;
  left: -65%;
  margin-top: 11px;
  background-color: white;
}

.menu-link {
  padding: 5px 10px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}

.slide {
  left: 0;
}

.logo-text {
  text-align: center;
}

h2 {
  margin: 0;
  font-size: 24px;
  padding: 10px 0;
}

h4 {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  padding: 2.5px 0;
}

h5 {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  padding: 2.5px 0;
}

h6 {
  margin: 0;
  padding: 5px 0;
  font-weight: normal;
  font-size: 13px;
}

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

section {
  margin: 10px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sub-section {
  margin: 5px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.link-width {
  width: 50%;
  align-items: flex-start;
  margin-right: 15px;
  box-sizing: border-box;
}



footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}


.desktop {
  display: none;
}
