@font-face {
  src: url('../fonts/NexaLight.otf');
  font-family: 'Nexa';
}

@font-face {
  src: url('../fonts/NexaBold.otf');
  font-family: 'Nexa Bold';
}

*, *:before, *:after {
  box-sizing: border-box;
}

* {
  overflow-x: hidden;
}

body {
  font-family: 'Helvetica';
  width: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

header {
  border-bottom: 1px solid grey;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
}

.header {
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

nav {
  width: 100%;
}

.logo-link {
  width: 50%;
}

.logo-lg {
  width: 100%;
  object-fit: scale-down;
}

.logo-sm {
  width: 50%;
  object-fit: scale-down;
  margin-bottom: 20px;
}

.menu-icon {
  margin: 0;
  font-size: 32px !important;
}

.arrow-icon {
  margin: 0;
  font-size: 32px !important;
}

.social-media-icon {
  margin: 5px 15px 0 0;
  width: 25px;
  height: 25px;
  object-fit: scale-down;
}

.menu-bkgd {
  width: 100%;
  height: 100%;
  position: fixed;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  top: 0;
  left: -100%;
  z-index: 4;
}

.slide-menu {
  width: 65%;
  position: fixed;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  z-index: 5;
  left: -65%;
  margin: 11px 0 0 0;
  background-color: white;
}

.menu-link {
  padding: 5px 10px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}

.slide {
  left: 0;
}

p {
  margin: 0;
  padding: 5px 0;
  font-size: 16px;
  line-height: 20px;
}

h2 {
  margin: 0;
  font-size: 24px;
  padding: 0 0 10px 0;
  width: 100%;
}

h3 {
  margin: 0;
  font-size: 20px;
  padding: 0 0 5px 0;
}

h4 {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  padding: 0 0 2.5px 0;
}

h5 {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  padding: 0 0 2.5px 0;
}

h6 {
  margin: 0;
  padding: 0 0 2.5px 0;
  font-weight: normal;
  font-size: 8px;
}

.heading {
  border-bottom: 1px solid black;
  margin: 0 0 15px 0;
}

section {
  margin: 20px 0;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px 0;
}

.sub-section {
  margin: 0 0 15px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.home-image, .vision-image {
  width: 100%;
  height: 300px;
  position: relative;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.vision-image {
  height: 500px;
}

.image-lg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 3;
  bottom: 25px;
  left: 0;
  padding: 20px;
  width: 70%;
  letter-spacing: 1px;
  font-size: 20px;
  line-height: 28px;
}

.vision-overlay {
  width: 85%;
  right: 0;
  left: auto;
  bottom: 30px;
}

.solutions-overlay {
  font-size: 26px;
  line-height: 34px;
  width: 85%;
}

.solutions-text {
  letter-spacing: .25px;
}

.inline {
  display: inline;
}

.float {
  float: left;
}

.underline {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

main {
  width: 100%;
}

.link-width {
  width: 40%;
  align-items: flex-start;
}

.image-sm {
  width: 145px;
  height: 145px;
  object-fit: cover;
  margin: 0 10px 0 0;
}

.image-div {
  width: 100%;
  height: 200px;
  position: relative;
  overflow-y: hidden;
}

.image-card {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.media {
  flex-direction: column;
  padding: 0 10px;
}

.blog-post {
  border-bottom: 1px solid #bcbdbf;
  padding-bottom: 15px;
}

.more-link {
  font-weight: bold;
  padding: 0;
}

.sub-title > h5 {
  font-style: italic;
  color: grey;
  font-size: 14px;
}

.sub-title {
  margin-bottom: 5px;
}

.card {
  border: 1px solid #154C68;
  margin: 20px 0;
  width: 100%;
}

.card-section {
  padding: 15px 15px 10px 15px;
  width: 100%;
}

.card-overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 3;
  bottom: 15px;
  left: 0;
  padding: 10px;
  width: 80%;
  letter-spacing: 1px;
  font-size: 20px;
  line-height: 28px;
}

.card-link {
  padding: 15px;
  background-color: #154C68;
  color: white;
  letter-spacing: 1px;
  font-weight: normal;
  width: 100%;
}

.footer {
  width: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 10px;
  box-sizing: border-box;
  background-color: #dedfe1;
}

.contact {
  padding: 0;
}

.input {
  border: 1px solid lightgrey;
  width: 100%;
  padding: 10px;
  letter-spacing: .5px;
}

.checkbox {
  align-items: center;
}

.checkbox > p {
  font-family: 'Arial';
  font-size: 14px;
}

textarea {
  height: 150px;
  font-family: 'Arial';
}

button {
  padding: 10px;
  font-family: 'Arial';
  width: 50%;
  align-self: flex-end;
  background-color: #154C68;
  color: white;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  border-radius: 5px;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

button:hover {
  opacity: .8;
}

.input, .checkbox {
  margin-bottom: 20px;
}

.email-input {
  margin-bottom: 5px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.tablet {
  display: none;
}

.desktop {
  display: none;
}

.mobile {
  display: flex;
}
