@media (min-width: 600px) {
  .menu-icon {
    font-size: 38px !important;
  }

  .slide-menu {
    width: 45%;
  }

  header, footer {
    padding: 10px 20px;
  }

  section {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .section {
    margin-right: 5px;
    width: 57%;
  }

  .wrapper {
    width: 40%;
    margin: 0 0 0 10px;
  }

  .background {
    background-color: #dedfe1;
    padding: 0 15px 15px 15px;
    width: 100%;
    margin: 0;
  }

  .media-header {
    margin-top: 10px;
  }

  .overlay {
    bottom: 35px;
    padding: 35px;
    width: 60%;
  }

  .vision {
    width: 80%;
  }

  .media-snapshots {
    flex-direction: row;
  }

  .image-lg {
    height: 400px;
  }

  .link-width {
    width: 40%;
    align-items: flex-start;
  }

  .social-media {
    justify-content: center;
  }

  .tablet {
    display: flex;
  }

}
